* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: #000000;
    --secondary: #2130a2;
    --tertiary: rgb(232, 243, 245);
    --grey: #333;
    font-size: 62.5%;
  }
  
  body {
    background: var(--tertiary);
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border: 0ex;
  }
  
  .score {
    color: var(--primary);
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 2.2rem;
    align-items: center;
  }
  .content {
    color: var(--primary);
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 1.8rem;
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }

  .content-h1 {
    color: var(--primary);
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 4.5rem;
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
  }

  .content p {
    line-height: 1.7;
    color: var(--primary);
    width: 80%;
    font-size: 1.8rem;
    margin: 0 auto;
  }

  .btn {
    border: none;
    padding: 10px 15px;
    background: var(--secondary);
    font-size: 2.2rem;
    border-radius: 8px;
    position: relative;
    margin: auto;
    justify-content: center;
    color: var(--tertiary);
    display: block;
  }



  /* footer { 
    width: 100%;
    color: var(--primary);
    font-size: 2.4rem;
    padding: 20px;
  }*/
