* {
    box-sizing: border-box;
  }
  
:root {
    --primary: #000000;
    --secondary: #2130a2;
    --tertiary: rgb(232, 243, 245);
    font-size: 62.5%;
  }
  
body {
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Tahoma, sans-serif;
  }

main {
    border-style: solid;
    height: 40vw;
}

header {
    
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 2.2rem;
    align-items: center;
}  
.content {
    font-size: 1.8rem;
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }


  .content h1 {
    margin-bottom: 5px;
    display: flex;  
    justify-content: center;
  }

  .content p {
    width: 80%;
    margin: 0 auto;
  }
  .content ul {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  
.feedbackDiv {
  padding: 10px 15px;
  min-height: 15%;
}


  .btn {
    border: none;
    padding: 8px 15px;
    background: var(--secondary);
    font-size: 2.2rem;
    border-radius: 8px;
    margin:0 auto;
    color: var(--tertiary);
    display: block;
  }
  .btnChoice {
    border-bottom-style: solid;
    border-bottom-color:var(--secondary);
    font-size: 2.2rem;
    margin:0 auto;
    display: block;
  }


